#
# template to enable metrics-collector and prometheus services
#      

services:
  
  wis2node-monitor-china:
    build: 
      context: ./mqtt-metrics-collector
    restart: unless-stopped
    environment:
      - BROKER_HOST=gb.wis.cma.cn
      - BROKER_PORT=88883
      - BROKER_USERNAME=everyone
      - BROKER_PASSWORD=everyone
      - BROKER_TRANSPORT=tcp
      - LOGGING_LEVEL=${LOGGING_LEVEL:-INFO}
  wis2node-monitor-brazil:
    build: 
      context: ./mqtt-metrics-collector
    restart: unless-stopped
    environment:
      - BROKER_HOST=globalbroker.inmet.gov.br
      - BROKER_PORT=443
      - BROKER_USERNAME=everyone
      - BROKER_PASSWORD=everyone
      - BROKER_TRANSPORT=websockets
      - LOGGING_LEVEL=${LOGGING_LEVEL:-INFO}

  wis2node-monitor-france:
    build: 
      context: ./mqtt-metrics-collector
    restart: unless-stopped
    environment:
      - BROKER_HOST=globalbroker.meteo.fr
      - BROKER_PORT=443
      - BROKER_USERNAME=everyone
      - BROKER_PASSWORD=everyone
      - BROKER_TRANSPORT=websockets
      - LOGGING_LEVEL=${LOGGING_LEVEL:-INFO}

  wis2node-monitor-usa:
    build: 
      context: ./mqtt-metrics-collector
    restart: unless-stopped
    environment:
      - BROKER_HOST=wis2broker.globaldata.nws.noaa.gov
      - BROKER_PORT=8883
      - BROKER_USERNAME=everyone
      - BROKER_PASSWORD=everyone
      - BROKER_TRANSPORT=tcp
      - LOGGING_LEVEL=${LOGGING_LEVEL:-INFO}

  prometheus:
    image: prom/prometheus:v2.37.0
    restart: always
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=10d'
      - '--log.level=warn'
  
  grafana:
    image: grafana/grafana:12.3
    restart: unless-stopped
    volumes:
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
    depends_on:
      - prometheus

volumes:
  prometheus-data: