global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'wis2node-monitor'
    scrape_interval: 5s
    static_configs:
    - targets: ['wis2node-monitor:8111']

#  provide remote target url and credentials
remote_write:
 - url: <PROM_REMOTE_PUSH_URL>
    basic_auth:
      username: <PROM_REMOTE_USERNAME>
      password: <PROM_REMOTE_PASSWORD>